.linkWrapper{
    display: flex;
}
.linkWrapper:hover .arrow{
    display: block;
}
.arrow{
    display: none;
    width: 51px;
    height: 16px;
    margin-top: 9px;

}
.linkWrapper a{
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    position: relative;


}
.linkWrapper a:after{
    position: absolute;
    height: 2px;
    left: 0px;
    bottom: -10px;
    width: 100%;

    background: #ffffff;
    transform: matrix(1, 0, 0, -1, 0, 0);
    content: '';
}

@media (max-width: 950px) {
    .linkWrapper:hover .arrow{
        display: none;
    }
    .linkWrapper a{
        font-size: 20px;
        line-height: 27px;
    }
    .linkWrapper a:after{
        position: absolute;
        height: 2px;
        left: 0px;
        bottom: -10px;
        width: 100%;

        /* raznaya_zzemlya_main */

        background: #ffffff;
        transform: matrix(1, 0, 0, -1, 0, 0);
        content: '';
    }
}

@media (max-width: 460px) {
    .linkWrapper:hover .arrow{
        display: none;
    }
    .linkWrapper a{
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */

        color: #ffffff;

        text-decoration: none;

        position: relative;
        text-transform: uppercase;



    }
    .linkWrapper a:after{
        position: absolute;
        height: 2px;
        left: 0px;
        bottom: -10px;
        width: 100%;

        background: #ffffff;
        transform: matrix(1, 0, 0, -1, 0, 0);
        content: '';
    }
}
